{% if template == 'index' %}
  <!-- A single featured collection module on home page {% increment featured_collection_done %} -->
  {% if featured_collection_done > 1 %}{% break %}{% endif %}
{% endif %}

{% assign featured = settings.home_page_featured_products %}
{% assign products_per_row = 3 %}
{% assign rows = settings.home_featured_products_row_num %}
{% assign total_products = products_per_row | times: rows %}

{% unless settings.home_section_1 == 'banner-image' %}
  <hr class="medium-up--hide hr--clear hr--small">
{% endunless %}

<div class="featured-products">

  {% if settings.home_page_featured_products_show_heading %}
    <h2 class="small--text-center">{{ 'homepage.sections.featured_products' | t }}</h2>
  {% endif %}

  <div class="grid grid--uniform" role="list">

    {% for product in collections[featured].products limit: total_products %}
      {% include 'product-grid-item' %}
    {% else %}
      {% comment %}
        If collection is empty, show onboarding state
        For onboarding new users to your theme, we add some default products and onboarding tutorials to help populate their store
      {% endcomment %}

      {% unless onboardingLoaded %}
        {% comment %}
          Only load onboarding styles if they have not already been loaded.
        {% endcomment %}
        {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
        {% assign onboardingLoaded = true %}
      {% endunless %}

      <div class="grid__item">
        <div class="helper-section">
          <div class="helper-note">
            <span class="helper-icon"></span>
            <h3>{{ 'homepage.onboarding.modal_title' | t }}</h3>
            <p>{{ 'homepage.onboarding.no_products_html' | t }}</p>
            <p><a class="admin-btn-primary" href="/admin/collections">{{ 'homepage.onboarding.add_product' | t }}</a></p>
          </div>

          <div class="grid grid--uniform helper-content">
            {% for i in (1..6) %}
              <div class="grid__item product medium-up--one-third small--one-half text-center">
                <a href="/admin/products" class="product__image">
                  {% capture image_url %}//cdn.shopify.com/s/images/themes/product-{{ i }}.png{% endcapture %}
                  {{ image_url | img_tag }}
                </a>
                <div class="product__title"><a href="/admin/products">{{ 'homepage.onboarding.product_title' | t }}</a></div>
                <div class="product__price">$19.99</div>
                <div class="product__price">This is the test.</div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
